body {
  background: repeating-linear-gradient(rgb(0, 174, 255), white);
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}


.login-page-input {
  width: 500px;
  padding: 0.50rem;
  background-color: rgb(182, 192, 197);
  border-top: 2px solid rgb(182, 192, 197);
  border-left: 2px solid rgb(182, 192, 197);
  border-right: 2px solid rgb(182, 192, 197);
  border-bottom: 2px solid #000000;
  border-top-left-radius: 5px;
  border-top-right-radius:5px;
  position: relative;
  bottom: 5px;
}
.email-container{
    position:relative;
  bottom:5px;

}

.password-container {
  position:relative;
  top:5px;
}
.login {
  font-weight: normal;
  position: relative;
  right: 540px;
  bottom : 150px;
  font-size: 25px;

}


.sign-up {
  background-color: rgb(155, 220, 241);
  width: 500px;
  border: 1px solid black; 
  padding: 0.50rem; 
  display: flex;         
  justify-content: center; 
  align-items: center;   
  text-align: center; 
  position: relative;
  top:215px;
  color: black;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 8px; 

   
}
.sign-link{
  color: rgb(0, 128, 255);
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}
.sign-link:hover {
  color:rgb(0, 128, 255);
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px; 
}

.submit-button { 
  width: 200px;
  height: 30px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  border-radius: 8px;
  background-color: rgb(0, 128, 255);
  display: flex;         
  justify-content: center; 
  align-items: center;   
  text-align: center; 
  position: relative;
  top:20px; 
  box-shadow: 0px 5px 10px rgb(0,0,0,0.5);
  
}

.forgot-password{
  color: rgb(0, 88, 202);
  font-weight: bold;
  font-size: 14px;
  position: relative;
  right:180px;
  top:5px;

}
 
input::placeholder {
  color:#000000;
  opacity: 1;
  font-weight: 500;
  
}
.Lcard{
  width:"1000px";
  
}