body {
  background: repeating-linear-gradient(rgb(0, 174, 255),white);
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

input {
  background-color: rgb(182, 192, 197);
  width: 500px;
  padding: 0.50rem;
  border-top: 2px solid rgb(182, 192, 197);
  border-left: 2px solid rgb(182, 192, 197);
  border-right: 2px solid rgb(182, 192, 197);
  border-bottom: 2px solid #000000;
  border-top-left-radius: 5px;
  border-top-right-radius:5px;
  position: relative;
  bottom: 5px;
}

.sign {
  font-weight: normal;
  position: relative;
  right: 540px;
  bottom : 150px;
  font-size: 25px;

}

 .first-name-container{
  position:relative;
  bottom:15px;
}

.last-name-container{
  position: relative;
  bottom:5px;
  
  
}


.emailS-container{
  position:relative;
  top:5px;
}
  

.passwordS-container {
  position:relative;
  top:15px;
} 

.sign-up-button { 
   width: 200px;
  height: 30px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  border-radius: 8px;
  background-color: rgb(0, 128, 255);
  display: flex;         
  justify-content: center; 
  align-items: center;   
  text-align: center; 
  position: relative;
  top:60px; 
  box-shadow: 0px 5px 10px rgb(0,0,0,0.5);
  
  
 
}
input::placeholder {
  color:#000000;
  opacity: 1;
  font-weight: 500;
  
}


.log-in {
  background-color: rgb(155, 220, 241);
  width: 500px;
  border: 1px solid black; 
  padding: 0.50rem; 
  display: flex;         
  justify-content: center; 
  align-items: center;   
  text-align: center; 
  position: relative;
  top:215px;
  color: black;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 8px; 

   
}
.login-link{
  color: rgb(0, 128, 255);
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}
.login-link:hover {
  color:rgb(0, 128, 255);
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px; 
}