<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>
        <div class="not-found content">
            <h1>404 - OOPS!</h1>
            <h2>The page you requested doesn't exist</h2>
        </div>
    </body>

    <%- include('./partials/footer.ejs') %>

</html>