/*TODO make a nice scrollbar*/
::-webkit-scrollbar {
    display: none;
}

html,
body {
    height: 100%;
    margin: 0;
}

html {
    background: repeating-linear-gradient(rgb(198, 237, 255), rgb(0, 157, 255));
}

body {
    background: repeating-linear-gradient(#009dff, rgb(198, 237, 255));
    position: relative;
    z-index: 1;
}

/* workaround to tabs issue? */
.scroll-container {
    padding-right: 10px;
}