/*TODO make a nice scrollbar*/
::-webkit-scrollbar {
    display: none;
}

html,
body {
    height: auto;
    margin: 0;
}

body {
    background: repeating-linear-gradient(#009dff, rgb(198, 237, 255)) !important;
    position: relative !important;
    z-index: 1 !important;
    overflow: auto !important;
}

/* workaround to tabs issue? */
.scroll-container {
    padding-right: 10px;
}