html,
body {
    @media (prefers-color-scheme: dark) {
        color-scheme: dark;
    }

    height: 100%;
    margin: 0;
}

/* workaround to tabs issue? */
.scroll-container {
    padding-right: 10px;
}